body {
    background: linear-gradient(to top right, #ff4800, #ff00c8, #9900ff, #49007a, #120035 );
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    background-color: rgb(236, 236, 236);
    padding: 36px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.btn {
    margin-top: 12px;
    cursor: pointer;
}

#res, #cel {
    cursor: pointer;
}

.alert-success {
    margin-top: 16px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 0.8rem; 
    }
}